<h1>Checkpoint - Session 2 </h1><br>
Fill in the blank on the following piece of code so it runs properly.

In [2]:
# Import your libraries

import pandas as pd
import numpy as np
import datetime as dt

In [3]:
# Reading the wine_database.csv file into Python through pandas

wine_df = pd.read_csv('wine_db.csv')

Let's analyse our database and checking results (first TEN rows of the dataset)

In [5]:
wine_df.head()

,id,winery,variety,price,bottles,us_california,us_oregon,us_newyork,italy_sicily,italy_central,italy_tuscany,france_beaujolais,france_alsace,france_burgundy,chile_maule
0,202334,Rainstorm,Pinot Gris,14,48,NaN,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202334,Louis M. Martini,Cabernet Sauvignon,34,48,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202353,Mirassou,Chardonnay,12,42,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202348,Clarksburg Wine Company,Chenin Blanc,16,25,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202334,Duca di Salaparuta,Red Blend,15,28,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN

Now, let's audit the quality of our data and get some relevant information.

In [6]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21 non-null     int64
 1   winery             21 non-null     object
 2   variety            21 non-null     object
 3   price              21 non-null     int64
 4   bottles            21 non-null     int64
 5   us_california      6 non-null      float64
 6   us_oregon          2 non-null      float64
 7   us_newyork         1 non-null      float64
 8   italy_sicily       2 non-null      float64
 9   italy_central      1 non-null      float64
 10  italy_tuscany      2 non-null      float64
 11  france_beaujolais  2 non-null      float64
 12  france_alsace      2 non-null      float64
 13  france_burgundy    1 non-null      float64
 14  chile_maule        2 non-null      float64
dtypes: float64(10), int64(3), object(2)
memory usage: 2.6+ KB

From the above, it there any feature with improper data type? If, so, convert it to the right type of data.

In [7]:
# all data type are correct.

<br> How many different types of wine do we have in our database? Print out your results.<br>
Print your results<br>

In [8]:
wine_df['variety'].value_counts(normalize = False,
                                 sort      = False,
                                 ascending = False).sort_index()

Alsace white blend          1
Bordeaux-style Red Blend    1
Cabernet Sauvignon          2
Chardonnay                  2
Chenin Blanc                1
Gamay                       2
Merlot                      1
Nebbiolo                    1
Nero d'Avola                1
Pinot Gris                  1
Pinot Noir                  2
Red Blend                   1
Riesling                    2
Rosato                      1
Sangiovese                  1
Zinfandel                   1
Name: variety, dtype: int64

In [9]:
# Other option

wine_df.describe(include='object').round(decimals = 2)

             winery             variety
count            21                  21
unique           19                  16
top     Henry Fessy  Cabernet Sauvignon
freq              2                   2

In [10]:
# Other option

wine_df['variety'].unique()

array(['Pinot Gris', 'Cabernet Sauvignon', 'Chardonnay', 'Chenin Blanc',
       'Red Blend', "Nero d'Avola", 'Gamay', 'Merlot', 'Sangiovese',
       'Zinfandel', 'Rosato', 'Bordeaux-style Red Blend', 'Riesling',
       'Alsace white blend', 'Nebbiolo', 'Pinot Noir'], dtype=object)

<br>
<br>
Our database appears to be in a wide data format; for a better analysis, let's convert it to a long format. <br>
Name your variable 'origin,' and your values 'points,' respectively. <br>
Only the first 30 wineries will be displayed.

In [11]:
wine_long = wine_df.melt(
    id_vars=['id','winery', 'variety', 'price', 'bottles'],
    var_name='origin',
    value_name='points')
wine_long

,id,winery,variety,price,bottles,origin,points
0,202334,Rainstorm,Pinot Gris,14,48,us_california,NaN
1,202334,Louis M. Martini,Cabernet Sauvignon,34,48,us_california,87.0
2,202353,Mirassou,Chardonnay,12,42,us_california,87.0
3,202348,Clarksburg Wine Company,Chenin Blanc,16,25,us_california,86.0
4,202334,Duca di Salaparuta,Red Blend,15,28,us_california,NaN
...,...,...,...,...,...,...,...
205,202353,Testarossa,Pinot Noir,64,32,chile_maule,NaN
206,202342,Cono Sur,Cabernet Sauvignon,32,29,chile_maule,91.0
207,202334,Le Cadeau,Pinot Noir,38,49,chile_maule,NaN
208,202353,Bertrand Ambroise,Chardonnay,35,44,chile_maule,NaN
209,202353,Treleaven,Riesling,14,33,chile_maule,NaN

How big is the wine database now? <br>

In [12]:
wine_long.shape

(210, 7)

<br>
Excellent work!! We now have a large database, but because the feature "origin" still links country and province, let's split it into two columns: 'country' and 'province.'

In [13]:
wine_long[['country', 'province']] = wine_long['origin'].str.split('_', expand=True)
wine_long

,id,winery,variety,price,bottles,origin,points,country,province
0,202334,Rainstorm,Pinot Gris,14,48,us_california,NaN,us,california
1,202334,Louis M. Martini,Cabernet Sauvignon,34,48,us_california,87.0,us,california
2,202353,Mirassou,Chardonnay,12,42,us_california,87.0,us,california
3,202348,Clarksburg Wine Company,Chenin Blanc,16,25,us_california,86.0,us,california
4,202334,Duca di Salaparuta,Red Blend,15,28,us_california,NaN,us,california
...,...,...,...,...,...,...,...,...,...
205,202353,Testarossa,Pinot Noir,64,32,chile_maule,NaN,chile,maule
206,202342,Cono Sur,Cabernet Sauvignon,32,29,chile_maule,91.0,chile,maule
207,202334,Le Cadeau,Pinot Noir,38,49,chile_maule,NaN,chile,maule
208,202353,Bertrand Ambroise,Chardonnay,35,44,chile_maule,NaN,chile,maule
209,202353,Treleaven,Riesling,14,33,chile_maule,NaN,chile,maule

<br> We don't really need the Origin feature with this, so let's drop it.

In [14]:
wine_long.drop(columns=['origin'], inplace=True)

wine_long

,id,winery,variety,price,bottles,points,country,province
0,202334,Rainstorm,Pinot Gris,14,48,NaN,us,california
1,202334,Louis M. Martini,Cabernet Sauvignon,34,48,87.0,us,california
2,202353,Mirassou,Chardonnay,12,42,87.0,us,california
3,202348,Clarksburg Wine Company,Chenin Blanc,16,25,86.0,us,california
4,202334,Duca di Salaparuta,Red Blend,15,28,NaN,us,california
...,...,...,...,...,...,...,...,...
205,202353,Testarossa,Pinot Noir,64,32,NaN,chile,maule
206,202342,Cono Sur,Cabernet Sauvignon,32,29,91.0,chile,maule
207,202334,Le Cadeau,Pinot Noir,38,49,NaN,chile,maule
208,202353,Bertrand Ambroise,Chardonnay,35,44,NaN,chile,maule
209,202353,Treleaven,Riesling,14,33,NaN,chile,maule

<br> Calculate the total amount

In [15]:
wine_long['total'] = wine_long['price']*wine_long['bottles']
wine_long

,id,winery,variety,price,bottles,points,country,province,total
0,202334,Rainstorm,Pinot Gris,14,48,NaN,us,california,672
1,202334,Louis M. Martini,Cabernet Sauvignon,34,48,87.0,us,california,1632
2,202353,Mirassou,Chardonnay,12,42,87.0,us,california,504
3,202348,Clarksburg Wine Company,Chenin Blanc,16,25,86.0,us,california,400
4,202334,Duca di Salaparuta,Red Blend,15,28,NaN,us,california,420
...,...,...,...,...,...,...,...,...,...
205,202353,Testarossa,Pinot Noir,64,32,NaN,chile,maule,2048
206,202342,Cono Sur,Cabernet Sauvignon,32,29,91.0,chile,maule,928
207,202334,Le Cadeau,Pinot Noir,38,49,NaN,chile,maule,1862
208,202353,Bertrand Ambroise,Chardonnay,35,44,NaN,chile,maule,1540
209,202353,Treleaven,Riesling,14,33,NaN,chile,maule,462

<br> Finally, let's pivot our database by country

In [16]:
wine_tidy = wine_long.pivot_table(
    index=['id','winery','variety','price','bottles','total','province'],
    columns='country',
    values='points')
wine_tidy

country                                                                                 chile  \
id     winery                  variety                  price bottles total province
202334 Duca di Salaparuta      Red Blend                15    28      420   sicily        NaN
       Fattoria Sardi          Rosato                   19    27      513   tuscany       NaN
       Giacomo Ascheri         Nebbiolo                 60    44      2640  tuscany       NaN
       Le Cadeau               Pinot Noir               38    49      1862  oregon        NaN
       Louis M. Martini        Cabernet Sauvignon       34    48      1632  california    NaN
       Rainstorm               Pinot Gris               14    48      672   oregon        NaN
202342 Cono Sur                Cabernet Sauvignon       32    29      928   maule        91.0
       Feudo di Santa Tresa    Nero d'Avola             12    45      540   sicily        NaN
       Henry Fessy             Gamay                    9     31      279   beaujolais    NaN
       Soquel Vineyards        Bordeaux-style Red Blend 75    31      2325  california    NaN
       Sundance                Merlot                   9     23      207   maule        86.0
202348 Clarksburg Wine Company Chenin Blanc             16    25      400   california    NaN
       Dopff & Irion           Alsace white blend       25    22      550   alsace        NaN
       Napa Cellars            Zinfandel                24    28      672   california    NaN
       Podere dal Nespoli      Sangiovese               17    47      799   central       NaN
202353 Bertrand Ambroise       Chardonnay               35    44      1540  burgundy      NaN
       Dopff & Irion           Riesling                 80    42      3360  alsace        NaN
       Henry Fessy             Gamay                    18    37      666   beaujolais    NaN
       Mirassou                Chardonnay               12    42      504   california    NaN
       Testarossa              Pinot Noir               64    32      2048  california    NaN
       Treleaven               Riesling                 14    33      462   newyork       NaN

country                                                                                 france  \
id     winery                  variety                  price bottles total province
202334 Duca di Salaparuta      Red Blend                15    28      420   sicily         NaN
       Fattoria Sardi          Rosato                   19    27      513   tuscany        NaN
       Giacomo Ascheri         Nebbiolo                 60    44      2640  tuscany        NaN
       Le Cadeau               Pinot Noir               38    49      1862  oregon         NaN
       Louis M. Martini        Cabernet Sauvignon       34    48      1632  california     NaN
       Rainstorm               Pinot Gris               14    48      672   oregon         NaN
202342 Cono Sur                Cabernet Sauvignon       32    29      928   maule          NaN
       Feudo di Santa Tresa    Nero d'Avola             12    45      540   sicily         NaN
       Henry Fessy             Gamay                    9     31      279   beaujolais    86.0
       Soquel Vineyards        Bordeaux-style Red Blend 75    31      2325  california     NaN
       Sundance                Merlot                   9     23      207   maule          NaN
202348 Clarksburg Wine Company Chenin Blanc             16    25      400   california     NaN
       Dopff & Irion           Alsace white blend       25    22      550   alsace        91.0
       Napa Cellars            Zinfandel                24    28      672   california     NaN
       Podere dal Nespoli      Sangiovese               17    47      799   central        NaN
202353 Bertrand Ambroise       Chardonnay               35    44      1540  burgundy      87.0
       Dopff & Irion           Riesling                 80    42      3360  alsace        92.0
       Henry Fessy             Gamay                    18    37      666   beaujolais    88.0
       Mirassou                Chardonnay               12    42      504   california     NaN
       Testarossa              Pinot Noir               64    32      2048  california     NaN
       Treleaven               Riesling                 14    33      462   newyork        NaN

country                                                                                 italy  \
id     winery                  variety                  price bottles total province
202334 Duca di Salaparuta      Red Blend                15    28      420   sicily       86.0
       Fattoria Sardi          Rosato                   19    27      513   tuscany      88.0
       Giacomo Ascheri         Nebbiolo                 60    44      2640  tuscany      91.0
       Le Cadeau               Pinot Noir               38    49      1862  oregon        NaN
       Louis M. Martini        Cabernet Sauvignon       34    48      1632  california    NaN
       Rainstorm               Pinot Gris               14    48      672   oregon        NaN
202342 Cono Sur                Cabernet Sauvignon       32    29      928   maule         NaN
       Feudo di Santa Tresa    Nero d'Avola             12    45      540   sicily       86.0
       Henry Fessy             Gamay                    9     31      279   beaujolais    NaN
       Soquel Vineyards        Bordeaux-style Red Blend 75    31      2325  california    NaN
       Sundance                Merlot                   9     23      207   maule         NaN
202348 Clarksburg Wine Company Chenin Blanc             16    25      400   california    NaN
       Dopff & Irion           Alsace white blend       25    22      550   alsace        NaN
       Napa Cellars            Zinfandel                24    28      672   california    NaN
       Podere dal Nespoli      Sangiovese               17    47      799   central      86.0
202353 Bertrand Ambroise       Chardonnay               35    44      1540  burgundy      NaN
       Dopff & Irion           Riesling                 80    42      3360  alsace        NaN
       Henry Fessy             Gamay                    18    37      666   beaujolais    NaN
       Mirassou                Chardonnay               12    42      504   california    NaN
       Testarossa              Pinot Noir               64    32      2048  california    NaN
       Treleaven               Riesling                 14    33      462   newyork       NaN

country                                                                                   us
id     winery                  variety                  price bottles total province
202334 Duca di Salaparuta      Red Blend                15    28      420   sicily       NaN
       Fattoria Sardi          Rosato                   19    27      513   tuscany      NaN
       Giacomo Ascheri         Nebbiolo                 60    44      2640  tuscany      NaN
       Le Cadeau               Pinot Noir               38    49      1862  oregon      91.0
       Louis M. Martini        Cabernet Sauvignon       34    48      1632  california  87.0
       Rainstorm               Pinot Gris               14    48      672   oregon      87.0
202342 Cono Sur                Cabernet Sauvignon       32    29      928   maule        NaN
       Feudo di Santa Tresa    Nero d'Avola             12    45      540   sicily       NaN
       Henry Fessy             Gamay                    9     31      279   beaujolais   NaN
       Soquel Vineyards        Bordeaux-style Red Blend 75    31      2325  california  88.0
       Sundance                Merlot                   9     23      207   maule        NaN
202348 Clarksburg Wine Company Chenin Blanc             16    25      400   california  86.0
       Dopff & Irion           Alsace white blend       25    22      550   alsace       NaN
       Napa Cellars            Zinfandel                24    28      672   california  86.0
       Podere dal Nespoli      Sangiovese               17    47      799   central      NaN
202353 Bertrand Ambroise       Chardonnay               35    44      1540  burgundy     NaN
       Dopff & Irion           Riesling                 80    42      3360  alsace       NaN
       Henry Fessy             Gamay                    18    37      666   beaujolais   NaN
       Mirassou                Chardonnay               12    42      504   california  87.0
       Testarossa              Pinot Noir               64    32      2048  california  91.0
       Treleaven               Riesling                 14    33      462   newyork     85.0

How many points does Chile has?

In [17]:
wine_tidy.loc[:,('chile'),].dropna()

id      winery    variety             price  bottles  total  province
202342  Cono Sur  Cabernet Sauvignon  32     29       928    maule       91.0
        Sundance  Merlot              9      23       207    maule       86.0
Name: chile, dtype: float64

<br> Our distribution center, is asking for the total number of bottles that we have in Italy.

In [18]:
italy_wine = wine_tidy.loc[wine_tidy['italy'].notnull()].reset_index()
italy_wine['bottles'].sum()

191